<div class="container p-5 text-center">
    <div class="row justify-content-md-center">
        <mat-card class="demo-inline-calendar-card">
            <mat-calendar [(selected)]="selected" (click)="getTransactionByDate()"></mat-calendar>
        </mat-card>
    </div>
    <div class="row p-5">
        <h5>Your transactions:</h5>
        @if(incomesLength !== 0) {
            @for(income of incomesOnDate; track $index) {
                <h4 class="text-success">+{{income.amount}}</h4>
            }
        } 
        @if(expensesLength !== 0) {
            @for(expense of expensesOnDate; track $index) {
                <h4 class="text-danger">-{{expense.amount}}</h4>
            }
        } 
    </div>
</div>
