<mat-tab-group dynamicHeight class="mx-auto p-5" style="width: 1000px; " >
    <mat-tab label="Expenses list" >
        <div  class="p-3" >
            @for (ex of expenses; track $index) {
                <div class="card mb-3" >
                    <div class="card-header">
                        {{ex.date | date:"longDate" }}
                    </div>
                    <div class="card-body">
                        <h5 class="card-title text-danger">{{ex.amount | currency:"EUR" }} </h5>
                        <p class="card-text">{{ex.description}} </p>
                        @if(currentExpenseCategory(ex)) {
                            <h6> {{category_name}}</h6>
                        }
                        @else {
                            <p>No categories found.</p>
                        }
                    </div>
                </div>
            }
        </div>
    </mat-tab>

    <mat-tab label="Add expense">
        <div class="px-3">
          <app-expense-form></app-expense-form>
        </div>
      </mat-tab>
</mat-tab-group>
    