
<div class="container">
    <section class="main-content mt-5">
        <h1 class="mt-5">Welcome to MoneyFlow</h1>
        <h2>Take control of your money — effortlessly.</h2>
    </section>
    <div class="row mt-5 justify-content-center ">
        <div class="col-md-3">
            <div class="card" style="width: 18rem; border-color: var(--bs-purple-100);">
                <div class="card-body" style="background-color: var(--bs-purple-100);">
                  <h5 class="card-title fw-medium">Incomes</h5>
                  <p class="card-text" style="text-align: justify;">Easily manage and record all your income sources in one convenient place. Whether you’re receiving a salary, freelance payments, or passive income, the Incomes section helps you stay on top of how much money you’re earning—and when. With clear logs and categories, you’ll always know where your money is coming from.</p>
                  <a href="/incomes" class="card-link">Go to income list</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card" style="width: 18rem; border-color: var(--bs-purple-100);">
                <div class="card-body" style="background-color: var(--bs-purple-100);">
                    <h5 class="card-title fw-medium">Expenses</h5>
                    <p class="card-text" style="text-align: justify;">Gain full visibility over your spending with a detailed and organized expense tracker. From everyday purchases to larger bills and unexpected costs, this section lets you log each expense, categorize it, and monitor your spending behavior. Understanding where your money goes is the first step to better financial control.
                    </p>
                    <a href="/expenses" class="card-link">Go to expense list</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card" style="width: 18rem; border-color: var(--bs-purple-100);">
                <div class="card-body" style="background-color: var(--bs-purple-100);">
                    <h5 class="card-title fw-medium">Statistics</h5>
                    <p class="card-text" style="text-align: justify;">Turn your financial data into valuable insights. The Statistics section gives you a clear visual breakdown of your income and expenses, helping set realistic goals, and make informed decisions. With interactive charts and summaries, managing your finances becomes simpler—and smarter.
                    </p>
                    <a href="/statistics" class="card-link">Go to statistics</a>
                </div>
            </div>
        </div>
       
    </div>
</div>