<div style="background-color: var(--bs-indigo-100);">
  <h2 mat-dialog-title>Delete transaction</h2>
  <mat-dialog-content >
    Would you like to delete this transaction?
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button mat-dialog-close class="btn-purple" style="color: var(--bs-normal-black);">No</button>
    <button mat-button mat-dialog-close cdkFocusInitial (click)="deleteTransaction()" class="btn-purple" style="color: var(--bs-normal-black);">Yes</button>
  </mat-dialog-actions>
</div>