<div class="container">
    <div class="container">
        <div class="row">
            <div class="col-6">
              <div class="p-3">
                <h2>
                    BarChart
                </h2>
                <canvas id="barChart"></canvas>
              </div>
            </div>
            <div class="col-6">
              <div class="p-3">
                <h2>
                    PieChart
                </h2>
                <canvas id="pieChart"></canvas>
              </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
              <div class="p-3">
                <h2>
                PieChart By categories
            </h2>
            <canvas id="categoryPieChart"></canvas></div>
            </div>
            <div class="col-6">
              <div class="p-3">
                <h2>
                    PieChart By sources
                </h2>
                <canvas id="sourcePieChart"></canvas>
              </div>
            </div>
        </div>
    </div>
</div>